<!-- #D4AF37 -->
<table class="table table-bordered">


    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero Commande</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
          

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>COM0001</td>
          <td>25/07/2022</td>
          <td>
            <a class="btn btn1"  routerLink="/commande/detailcommande">Details</a>
            <a style="margin-left: 10%;"  class="btn btn-danger">Annuler</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>COM0002</td>
          <td>25/07/2022</td>
          <td>
            <a routerLink="/commande/details" style="background-color: #FF9C1C;margin-right: 10%;" class="btn">Details</a>
            <a class="btn btn-danger">Annuler</a>
          </td>
        </tr>
        
      </tbody>



</table>












