<div class="container">
    <blog-itempanier>
       <blog-card></blog-card> 
       <blog-plusmoins></blog-plusmoins>
       <h1>1000</h1>
    </blog-itempanier>
    <blog-itempanier>
        <blog-card></blog-card> 
        <blog-plusmoins></blog-plusmoins>
        <h1>1000</h1>
     </blog-itempanier>
     <blog-itempanier>
        <input type="radio" name="" id=""><label for="">A consommer sur place</label>
        <input type="radio" name="" id=""><label for="">A livrer</label>
        <input type="text" name="" id="">
        <input type="text" name="" id="">
     </blog-itempanier>
     <blog-itempanier>
        <span>Total Commande </span>
        <span>12000f</span>
     </blog-itempanier>

     <button type="button" class="btn  btn-lg">Commander</button>

</div>