<blog-headerphoto></blog-headerphoto>
<div class="container">
    <div class="photo"></div>
    <div class="description">
        <div>Nom : Burger Cheese</div> <br><br>
        <div>Description :  
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quas, fugit nihil dolorem fuga mollitia natus cum laudantium dolorum eos a ad blanditiis consequatur sapiente quo sed quam, cupiditate rem dolores. Itaque accusamus assumenda ex! Ratione quos veritatis aperiam exercitationem reprehenderit maiores praesentium culpa accusamus quae et pariatur ipsum officia eaque impedit, soluta nobis 
        </div><br><br>
        <div>Prix : 5000f</div>
        <button type="button" class="btn  btn-lg">Ajouter au panier</button>
    </div>
</div>

<h2 style=" margin-left: 5%;">Les plus commandées</h2>
<div class="container2">
   
    <a><blog-card></blog-card></a>
    <a><blog-card></blog-card></a>
    <a><blog-card></blog-card></a>
    <a><blog-card></blog-card></a>   

</div>










 









