<blog-header (newClick)="catClicked($event)"  ></blog-header>

<blog-headerphoto></blog-headerphoto>

<ng-container [ngSwitch]="value"> 
  
  
  <ng-container  *ngSwitchCase="'burger'">

    <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.burgers" routerLink=""></blog-listecard></a>

  </ng-container>
      
   <ng-container  *ngSwitchCase="'menu'">

    <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.menus" routerLink=""></blog-listecard></a>

  </ng-container>   

  <ng-container *ngSwitchDefault>

    <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.produits" routerLink=""></blog-listecard></a>

  </ng-container>




<!-- <p *ngIf="val">Value selected</p>
<p style="background: skyblue">{{ val | json}}</p> -->

 <!--  <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.burgers" routerLink=""></blog-listecard></a>

  <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.menus" routerLink=""></blog-listecard></a>

  <a><blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.produits" routerLink=""></blog-listecard></a>



<div class="loader"></div> 
 -->
<!-- <div>
  <blog-listecard *ngIf="catalogue$|async as catalogue" [prod]="catalogue.produits"></blog-listecard>
</div> -->


<!-- {{clickChangedHandler(true)|json}} -->

<!-- filtre ====> NgClass et Evenements  -->

<!-- <div [ngClass]="{ 'salla':  }"></div>


 -->




<!-- <blog-listecard [prod]="catalogue?.menus"></blog-listecard>
 -->

<!-- <blog-listecard [prod]="catalogue?.burgers"></blog-listecard>
 -->

<!-- <div class="container"  *ngFor="let prod of catalogue?.produit ">
    <blog-card></blog-card>
</div> 
 -->
<!-- <div class="container">
  <div> 
    <a  routerLink="/produit/details/:id"><blog-card></blog-card></a>
  </div>       
</div>  -->

<!-- <div class="trait"></div>

<div class="container">
        <div > 
          <a  routerLink="/produit/details/1"><blog-menu></blog-menu></a>
        </div>       
 </div>  -->


<!-- {{catalogue|json}} -->
<!-- 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 -->


 <!-- filter (Done:Recuperation par catégorie) (Doing:Affichage)-->





<blog-footer></blog-footer>





  <!-- <div class="container">
        <div class="col-mb-3" *ngFor="let produit of produits$|async"> 
             <a  routerLink="/produit/details/1"><blog-card [produits]="produit"></blog-card></a>
         </div>       
 </div> 
 -->
 


        
      






