
<blog-headerphoto></blog-headerphoto>
<div class="container">
    
        <a routerLink="/produit/details/1"><blog-card></blog-card></a>
        <a routerLink="/produit/details/1"><blog-card></blog-card></a>
        <a routerLink="/produit/details/1"><blog-card></blog-card></a>
        <a routerLink="/produit/details/1"><blog-card></blog-card></a>
</div>


 <div class="container">
   
       <a routerLink="/produit/details:1"><blog-card></blog-card></a>
       <a routerLink="/produit/details:1"><blog-card></blog-card></a>
       <a routerLink="/produit/details:1"><blog-card></blog-card></a>
       <a routerLink="/produit/details:1"><blog-card></blog-card></a>   

</div>

<div class="trait"></div>




